[MESSAGES CONTROL]
disable=C0303  # Disable trailing whitespace warnings

[FORMAT]
max-line-length=100  # Example of setting max line length

[REPORTS]
output-format=colorized
reports=no

[LOGGING]
logging-format-style=old

[DESIGN]
max-args=5
max-locals=15

[TYPECHECK]
ignore-mixin-members=yes

[EXCEPTIONS]
overgeneral-exceptions=Exception

[IMPORTS]
extensions=pylint.extensions.docparams

[VARIABLES]
ignored-argument-names=_.*

[CLASSES]
ignore-iface-methods=yes

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes

[REFACTORING]
max-nested-blocks=3

[REFACTORING]
max-nested-blocks=3

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes

[EXCEPTIONS]
overgeneral-exceptions=Exception

[IMPORTS]
extensions=pylint.extensions.docparams

[VARIABLES]
ignored-argument-names=_.*

[CLASSES]
ignore-iface-methods=yes

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes

[REFACTORING]
max-nested-blocks=3

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
